# Normal Dictionary

In [1]:
my_dict={'dave':'001','ava':'002','joe':'003'}
my_dict

{'dave': '001', 'ava': '002', 'joe': '003'}

# Creating Dictionary uding dict() function

In [2]:
new_dict=dict()
print(new_dict)
type(new_dict)

{}

dict

In [3]:
new_dict=dict(Dave='001',Ava='002')
new_dict

{'Dave': '001', 'Ava': '002'}

# Nested Dictionary

In [4]:
emp_details={'Employee':{'Dave':{'ID':'001','Salary':'2000','Designation':'Team Lead'},
                         'Ava':{'ID':'002','Salary':'1000','Designation':'Associate'}}}

print(emp_details)

{'Employee': {'Dave': {'ID': '001', 'Salary': '2000', 'Designation': 'Team Lead'}, 'Ava': {'ID': '002', 'Salary': '1000', 'Designation': 'Associate'}}}

# Perfoming Operations on hash tables

In [6]:
#Accedssing Items
my_dict['dave']

'001'

In [7]:
print(my_dict)

{'dave': '001', 'ava': '002', 'joe': '003'}

In [8]:
my_dict.keys()

dict_keys(['dave', 'ava', 'joe'])

In [9]:
my_dict.values()

dict_values(['001', '002', '003'])

In [11]:
my_dict.get('ava')

'002'

In [12]:
for x in my_dict:
    print(x)

dave
ava
joe

In [14]:
for x in my_dict.values():
    print(x)

001
002
003

In [15]:
for x,y in my_dict.items():
    print(x,y)

dave 001
ava 002
joe 003

# Updating the dictionaries

In [16]:
my_dict['Dave']='004'
my_dict['Chris']='003'

In [17]:
my_dict

{'dave': '001', 'ava': '002', 'joe': '003', 'Dave': '004', 'Chris': '003'}

# Delete item in Dict

In [18]:
my_dict.pop('ava')

'002'

In [20]:
my_dict.popitem() #remove last updated function

('Dave', '004')

In [21]:
del my_dict['dave']

In [22]:
my_dict

{'joe': '003'}

# Converting a dictionary into DF

In [25]:
import pandas as pd

df=pd.DataFrame(emp_details['Employee'])
df

                  Dave        Ava
ID                 001        002
Salary            2000       1000
Designation  Team Lead  Associate