# Variable & Datatypes

In [1]:
a=20

In [2]:
type(a)

int

In [3]:
a=20.25
type(a)

float

In [4]:
a=20j
type(a)

complex

In [5]:
a=10>20
type(a)

bool

# Strings

In [8]:
name="Rabinder"

In [9]:
len(name)

8

In [10]:
name[2]

'b'

In [11]:
name[2:8]

'binder'

In [13]:
name.upper()

'RABINDER'

In [14]:
name.lower()

'rabinder'

In [15]:
name[-2]

'e'

# Lists

In [16]:
mylist=[10,20,30,30,'rabinder','thakur']

In [17]:
mylist

[10, 20, 30, 30, 'rabinder', 'thakur']

In [18]:
 mylist[2:4]

[30, 30]

In [25]:
mylist[2]=35 #updating the value

In [20]:
mylist

[10, 20, 35, 30, 'rabinder', 'thakur']

In [26]:
mylist.append(40) #inserting the value at the end

In [22]:
mylist

[10, 20, 35, 30, 'rabinder', 'thakur', 40]

In [27]:
mylist.insert(5,100) #insert the value within the given index

In [24]:
mylist

[10, 20, 35, 30, 'rabinder', 100, 'thakur', 40]

In [31]:
mylist.reverse() #reverse the order

In [32]:
mylist

[10, 20, 35, 30, 'rabinder', 100, 100, 'thakur', 40, 40]

# Dictionary

In [35]:
courses= {1:"python",
         2:'data science',
         'third':'machine learning'}

In [36]:
courses

{1: 'python', 2: 'data science', 'third': 'machine learning'}

In [38]:
courses['third']

'machine learning'

In [39]:
courses.get('third')

'machine learning'

In [40]:
#update the value
courses['third']='hadoop'

In [41]:
courses

{1: 'python', 2: 'data science', 'third': 'hadoop'}

In [42]:
 courses['four']='machine learning'

In [44]:
courses

{1: 'python', 2: 'data science', 'third': 'hadoop', 'four': 'machine learning'}

# Tuple

In [45]:
animals=(10,10,20,30,'tiger','lion','giraffe','tiger')
animals

(10, 10, 20, 30, 'tiger', 'lion', 'giraffe', 'tiger')

In [46]:
animals[2]

20

In [48]:
animals.count('tiger') #checking duplicate values

2

# Sets

In [49]:
myset={10,20,30,40,40,30,'rabin','rabinder','tiger'}

In [50]:
myset

{10, 20, 30, 40, 'rabin', 'rabinder', 'tiger'}

In [51]:
 myset[2]

TypeError: 'set' object is not subscriptable

# Range

In [54]:
range(10)

range(0, 10)

In [55]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
a=[1,2,3,4]

In [58]:
b=[4,5,6,7,8]

In [60]:
c=[a,b]

In [61]:
c

[[1, 2, 3, 4], [4, 5, 6, 7, 8]]

# Type Conversion

In [62]:
x=10
name='rabin'

In [65]:
str(x)+name

'10rabin'

In [67]:
list(b)

[4, 5, 6, 7, 8]